* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.75em;
  color: black;
}

p {
  position: relative;
  padding: 20px 10px 10px 10px;
  border: 1px solid black;
  background-color: #e5e5e5;
  height: 150px;
  margin: 5px;
  font-family: "Palatino Linotype", serif;
  font-size: 16px;
  color: #2d2a32;
}

span {
  position: absolute;
  right: -1px;
  top: -1px;
  text-align: center;
  color: black;
  font-size: 1.25em;
  font-weight: bold;
  border: 1px solid black;
  width: 100px;
}

#span1 {
  background-color: #aeadf0;
}

#span2 {
  background-color: #c38d94;
}

#span3 {
  background-color: #a76571;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/* Desktop */
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,
  .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}
